[changelog]
header = "# Changelog\n\n"
body = """
{% for group, releases in commits | group_by(attribute="group") %}
## {{ group | upper }}
{% for commit in releases %}- {{ commit.message | trim }}
{% endfor %}
{% endfor %}
"""
trim = true

[git]
conventional_commits = true
filter_unconventional = false
split_commits = false
commit_parsers = [
  { message = "^feat", group = "Features" },
  { message = "^fix", group = "Fixes" },
  { message = "^perf", group = "Performance" },
  { message = "^docs", group = "Docs" },
  { message = "^refactor", group = "Refactor" },
  { message = "^chore", group = "Chore" },
  { message = "^test", group = "Tests" },
]
